# Ignore node_modules, as they will be installed during the Docker build
node_modules/

# Ignore build artifacts, as they will be generated during the Docker build
dist/

# Ignore IDE and editor-specific files
.vscode/
.idea/

# Ignore local development files
npm-debug.log
yarn-error.log

# Ignore OS-specific files
.DS_Store
Thumbs.db
